In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA
from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.inspection import permutation_importance
from sklearn.tree import plot_tree,export_graphviz
import graphviz as gp

# Data

In [3]:
master=pd.read_csv('master_dup_removed.csv')
master.head()

,participant_id,age,sex,BMI,handedness,education_category,NEO_N,NEO_E,NEO_O,NEO_A,...,CC_Mid_Anterior,CC_Anterior,CortexVol,CerebralWhiteMatterVol,SubCortGrayVol,TotalGrayVol,MaskVol-to-eTIV,lhSurfaceHoles,rhSurfaceHoles,SurfaceHoles
0,sub-0001,26.25,F,24.0,right,applied,35,44,37,39,...,474.1,954.7,431722.3085,412508.1558,52096,579143.3085,1.104817,12,15,27
1,sub-0002,21.00,F,23.0,right,academic,27,53,40,48,...,534.4,1007.6,551229.5244,511140.9554,61775,729961.5244,0.946018,12,3,15
2,sub-0003,23.00,M,22.0,right,academic,35,40,43,37,...,624.5,875.2,484203.7432,488806.8270,55089,666343.7432,1.121519,7,8,15
3,sub-0004,23.50,F,22.0,right,applied,29,47,41,48,...,488.8,952.1,490562.7749,424675.0400,57767,666421.7749,1.046196,14,9,23
4,sub-0005,21.75,M,19.0,ambidextrous,applied,26,35,40,38,...,683.6,941.4,549885.2510,473013.9161,60987,723713.2510,0.981137,17,12,29

In [4]:
master.shape

(1362, 136)

# Clustering

In [5]:
y=master[['NEO_N','NEO_C','NEO_A','NEO_E','NEO_O']]
y

      NEO_N  NEO_C  NEO_A  NEO_E  NEO_O
0        35   48.0     39     44     37
1        27   34.0     48     53     40
2        35   38.0     37     40     43
3        29   41.0     48     47     41
4        26   45.0     38     35     40
...     ...    ...    ...    ...    ...
1357     40   32.0     38     39     47
1358     28   40.0     34     41     48
1359     27   45.0     41     44     46
1360     35   41.0     45     32     44
1361     30   37.0     42     46     40

[1362 rows x 5 columns]

In [6]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
y=pd.DataFrame(imputer.fit_transform(y),columns=y.columns)
y

      NEO_N  NEO_C  NEO_A  NEO_E  NEO_O
0      35.0   48.0   39.0   44.0   37.0
1      27.0   34.0   48.0   53.0   40.0
2      35.0   38.0   37.0   40.0   43.0
3      29.0   41.0   48.0   47.0   41.0
4      26.0   45.0   38.0   35.0   40.0
...     ...    ...    ...    ...    ...
1357   40.0   32.0   38.0   39.0   47.0
1358   28.0   40.0   34.0   41.0   48.0
1359   27.0   45.0   41.0   44.0   46.0
1360   35.0   41.0   45.0   32.0   44.0
1361   30.0   37.0   42.0   46.0   40.0

[1362 rows x 5 columns]

In [8]:
scaler = StandardScaler()
scaler.fit(y)
y = pd.DataFrame(scaler.transform(y), columns=y.columns)
y

         NEO_N     NEO_C     NEO_A     NEO_E     NEO_O
0     0.443070  1.246413 -0.428631  0.283842 -0.662282
1    -0.756058 -0.837097  1.126315  1.848997 -0.182480
2     0.443070 -0.241809 -0.774175 -0.411782  0.297323
3    -0.456276  0.204658  1.126315  0.805561 -0.022546
4    -0.905949  0.799947 -0.601403 -1.281313 -0.182480
...        ...       ...       ...       ...       ...
1357  1.192525 -1.134742 -0.601403 -0.585688  0.937059
1358 -0.606167  0.055836 -1.292490 -0.237876  1.096993
1359 -0.756058  0.799947 -0.083088  0.283842  0.777125
1360  0.443070  0.204658  0.607999 -1.803031  0.457257
1361 -0.306385 -0.390631  0.089684  0.631655 -0.182480

[1362 rows x 5 columns]

In [9]:
clusters = KMeans(n_clusters=5)

In [10]:
clusters.fit(y)

KMeans(n_clusters=5)

In [11]:
clusters.fit_transform(y)

array([[2.79083019, 2.19031875, 1.89857303, 1.59960808, 2.25375357],
       [3.17130554, 2.21022495, 3.43139855, 2.3204903 , 2.9499424 ],
       [1.6048219 , 2.22555177, 1.36675632, 2.44973692, 1.00074884],
       ...,
       [2.64274308, 0.77484634, 2.41460422, 1.72025811, 2.06673434],
       [1.73872979, 2.76735192, 1.69389235, 2.91062399, 2.95519616],
       [2.07563769, 1.52325184, 1.86683413, 1.45871628, 1.5022307 ]])

In [12]:
centers=pd.DataFrame(scaler.inverse_transform(clusters.cluster_centers_),columns=y.columns)
centers

      NEO_N     NEO_C     NEO_A     NEO_E     NEO_O
0  1.087269 -0.778891  0.549641 -0.533903  0.620745
1 -0.575291  0.606533  0.505760  0.705255  0.854397
2  0.234721 -0.101420 -0.191934 -1.012338 -0.753978
3 -0.760775  0.749992  0.469661  0.435858 -0.844026
4  0.197650 -0.601288 -1.181162  0.390390  0.351385

In [13]:
clusters.labels_

array([3, 1, 4, ..., 1, 2, 3], dtype=int32)

In [26]:
clusters.labels_[0:11]

array([3, 1, 4, 1, 2, 1, 2, 1, 4, 3, 2], dtype=int32)

In [14]:
target_label=clusters.labels_

In [15]:
master['target']=target_label
master

,participant_id,age,sex,BMI,handedness,education_category,NEO_N,NEO_E,NEO_O,NEO_A,...,CC_Anterior,CortexVol,CerebralWhiteMatterVol,SubCortGrayVol,TotalGrayVol,MaskVol-to-eTIV,lhSurfaceHoles,rhSurfaceHoles,SurfaceHoles,target
0,sub-0001,26.25,F,24.0,right,applied,35,44,37,39,...,954.7,431722.3085,412508.1558,52096,579143.3085,1.104817,12,15,27,3
1,sub-0002,21.00,F,23.0,right,academic,27,53,40,48,...,1007.6,551229.5244,511140.9554,61775,729961.5244,0.946018,12,3,15,1
2,sub-0003,23.00,M,22.0,right,academic,35,40,43,37,...,875.2,484203.7432,488806.8270,55089,666343.7432,1.121519,7,8,15,4
3,sub-0004,23.50,F,22.0,right,applied,29,47,41,48,...,952.1,490562.7749,424675.0400,57767,666421.7749,1.046196,14,9,23,1
4,sub-0005,21.75,M,19.0,ambidextrous,applied,26,35,40,38,...,941.4,549885.2510,473013.9161,60987,723713.2510,0.981137,17,12,29,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,sub-1358,22.25,male,21.0,right,medium,40,39,47,38,...,887.2,517851.7456,517310.5024,66447,711842.7456,0.921517,19,23,42,0
1358,sub-1359,25.25,male,30.0,right,medium,28,41,48,34,...,853.7,519398.3571,565436.6994,65260,718521.3571,0.933091,20,34,54,4
1359,sub-1360,20.75,male,22.0,right,high,27,44,46,41,...,1128.7,567440.1256,469283.5790,61988,756582.1256,0.881901,20,33,53,1
1360,sub-1361,24.25,female,35.0,right,medium,35,32,44,45,...,1005.8,441752.2678,442438.1987,55159,595460.2678,1.003723,31,34,65,2
1361,sub-1362,20.50,male,19.0,left,high,30,46,40,42,...,1170.4,521419.8332,493900.4673,66652,725916.8332,0.885727,11,14,25,3

In [16]:
master.target.value_counts()

2    300
3    286
4    284
1    267
0    225
Name: target, dtype: int64

In [17]:
gaussian_clusters=gm = GaussianMixture(n_components=5, random_state=0)

In [18]:
gaussian_clusters.fit(y)

GaussianMixture(n_components=5, random_state=0)

In [19]:
gaussian_clusters.means_

array([[ 0.36939452,  0.03377824,  0.70017181, -0.1186042 ,  0.47495203],
       [-0.0879497 , -0.42000532, -0.61562154,  0.46988289,  0.27763802],
       [-0.10964357,  0.12263497, -0.14701913, -0.57167953, -0.61590809],
       [-0.798865  ,  0.83230298,  0.53962362,  0.71891071, -0.06264678],
       [ 1.02353298, -0.71047431, -0.27873605, -0.74534831,  0.09162942]])

In [20]:
gaussian_centers=pd.DataFrame(scaler.inverse_transform(gaussian_clusters.means_),columns=y.columns)
gaussian_centers

      NEO_N     NEO_C     NEO_A     NEO_E     NEO_O
0  0.369395  0.033778  0.700172 -0.118604  0.474952
1 -0.087950 -0.420005 -0.615622  0.469883  0.277638
2 -0.109644  0.122635 -0.147019 -0.571680 -0.615908
3 -0.798865  0.832303  0.539624  0.718911 -0.062647
4  1.023533 -0.710474 -0.278736 -0.745348  0.091629

In [21]:
gaussian_target=gaussian_clusters.predict(y)

In [22]:
master['gaussian_target']=gaussian_target
master

,participant_id,age,sex,BMI,handedness,education_category,NEO_N,NEO_E,NEO_O,NEO_A,...,CortexVol,CerebralWhiteMatterVol,SubCortGrayVol,TotalGrayVol,MaskVol-to-eTIV,lhSurfaceHoles,rhSurfaceHoles,SurfaceHoles,target,gaussian_target
0,sub-0001,26.25,F,24.0,right,applied,35,44,37,39,...,431722.3085,412508.1558,52096,579143.3085,1.104817,12,15,27,3,3
1,sub-0002,21.00,F,23.0,right,academic,27,53,40,48,...,551229.5244,511140.9554,61775,729961.5244,0.946018,12,3,15,1,1
2,sub-0003,23.00,M,22.0,right,academic,35,40,43,37,...,484203.7432,488806.8270,55089,666343.7432,1.121519,7,8,15,4,1
3,sub-0004,23.50,F,22.0,right,applied,29,47,41,48,...,490562.7749,424675.0400,57767,666421.7749,1.046196,14,9,23,1,3
4,sub-0005,21.75,M,19.0,ambidextrous,applied,26,35,40,38,...,549885.2510,473013.9161,60987,723713.2510,0.981137,17,12,29,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,sub-1358,22.25,male,21.0,right,medium,40,39,47,38,...,517851.7456,517310.5024,66447,711842.7456,0.921517,19,23,42,0,4
1358,sub-1359,25.25,male,30.0,right,medium,28,41,48,34,...,519398.3571,565436.6994,65260,718521.3571,0.933091,20,34,54,4,1
1359,sub-1360,20.75,male,22.0,right,high,27,44,46,41,...,567440.1256,469283.5790,61988,756582.1256,0.881901,20,33,53,1,3
1360,sub-1361,24.25,female,35.0,right,medium,35,32,44,45,...,441752.2678,442438.1987,55159,595460.2678,1.003723,31,34,65,2,2
1361,sub-1362,20.50,male,19.0,left,high,30,46,40,42,...,521419.8332,493900.4673,66652,725916.8332,0.885727,11,14,25,3,1

In [25]:
master["gaussian_target"][0:11]

0     3
1     1
2     1
3     3
4     2
5     3
6     2
7     3
8     1
9     3
10    2
Name: gaussian_target, dtype: int64

# Random Forest

## Data - X  and y

In [ ]:
df = master.copy()

In [ ]:
df.dropna(inplace=True)

In [ ]:
X = df.drop(columns=["participant_id","NEO_N","NEO_E","NEO_O","NEO_A","NEO_O","NEO_C","target","gaussian_target"])

In [ ]:
y = df["gaussian_target"]

## Data pre-processing

In [ ]:
X['sex'].replace('F','female',inplace=True)

In [ ]:
X['sex'].replace('M','male',inplace=True)

In [ ]:
X

In [ ]:
X["sex"].unique()

In [ ]:
X["handedness"].unique()

In [ ]:
X["education_category"].unique()

In [ ]:
X.shape

In [ ]:
X["sex"].unique()

In [ ]:
#Encoding SEX 
X["sex_enc"] = X['sex'].replace('female',0)

In [ ]:
X["sex_enc"].replace("male",1,inplace=True)

In [ ]:
X

In [ ]:
#Encoding Handedness
enc = OneHotEncoder(sparse = False)
enc.fit(X[["handedness"]])
hand_enc = enc.transform(X[["handedness"]])
X["right"],X["left"],X["ambidextrous"] = hand_enc.T

In [ ]:
#Encoding Education
enc = OneHotEncoder(sparse = False)
enc.fit(X[["education_category"]])
ed_enc = enc.transform(X[["education_category"]])
X["applied"],X["academic"],X["medium"],X["high"],X["low"] = ed_enc.T

In [ ]:
X

In [ ]:
X.drop(columns=["sex","handedness","education_category"], inplace = True)

## Model - Random Forest - Gaussian target

### Model data

In [ ]:
X

In [ ]:
y

In [ ]:
y

### Baseline model

In [ ]:
master.target.value_counts()/len(X)

In [ ]:
forest = RandomForestClassifier(n_estimators=100,n_jobs=-1,max_features=136)
cv_results = cross_validate(forest, X, y, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

In [ ]:
#model 2
forest = RandomForestClassifier(n_estimators=200,max_depth =5,n_jobs=-1,max_features=136)
cv_results = cross_validate(forest, X, y, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

In [ ]:
#model 3
forest = RandomForestClassifier(n_estimators=200,n_jobs=-1, max_depth = 5, max_features = 136)
cv_results = cross_validate(forest, X, y, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

In [ ]:
forest.fit(X,y)

In [ ]:
df_features_import = pd.DataFrame(forest.feature_importances_)

In [ ]:
df_features_import.index=X.columns

In [ ]:
df_features_import.sort_values(0,ascending=False)

In [ ]:
len(forest.estimators_)

In [ ]:
fig,ax = plt.subplots(1,1,figsize=(20,20))
plot_tree(forest.estimators_[20],ax=ax);

In [ ]:
#!pip install graphviz

In [ ]:
#tree_file = export_graphviz(forest.estimators_[20],out_file="tree.dot")

In [ ]:
#gp.Source(tree_file,filename ="tree.dot",format="png")

### Grid Search - optimizing the model

In [ ]:
#Parameters to tune

#number of trees in the foreset
#n_estimators = [100,150,200]
# Maximum number of levels in tree
max_depth = [5,10,15,20,25,30]
#Maximum number of features per tree
max_features = [15,20,25,30,50,100]

#Create the random grid

grid={
    #"n_estimators": n_estimators,
    "max_depth": max_depth,
    "max_features": max_features
}

print(grid)

In [ ]:
model = RandomForestClassifier()

grid_search = GridSearchCV(estimator = model,param_grid= grid,cv= 3,n_jobs=-1)

In [ ]:
#fit the grid data
grid_search.fit(X, y)

#calculate the best parameters
grid_search.best_params_

In [ ]:
forest = RandomForestClassifier(n_jobs=-1, max_depth = 30, max_features = 100)
cv_results = cross_validate(forest, X, y, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

## Model - Random Forest - Kmeans target

### Data & preprocessing

In [ ]:
df = master.copy()

In [ ]:
df.dropna(inplace=True)

In [ ]:
X = df.drop(columns=["participant_id","NEO_N","NEO_E","NEO_O","NEO_A","NEO_O","NEO_C","target","gaussian_target"])

In [ ]:
y = df["target"]

In [ ]:
X['sex'].replace('F','female',inplace=True)

In [ ]:
X['sex'].replace('M','male',inplace=True)

In [ ]:
X["sex_enc"] = X['sex'].replace('female',0)

In [ ]:
X["sex_enc"].replace("male",1,inplace=True)

In [ ]:
#Encoding Handedness
enc = OneHotEncoder(sparse = False)
enc.fit(X[["handedness"]])
hand_enc = enc.transform(X[["handedness"]])
X["right"],X["left"],X["ambidextrous"] = hand_enc.T

In [ ]:
#Encoding Education
enc = OneHotEncoder(sparse = False)
enc.fit(X[["education_category"]])
ed_enc = enc.transform(X[["education_category"]])
X["applied"],X["academic"],X["medium"],X["high"],X["low"] = ed_enc.T

In [ ]:
X.drop(columns=["sex","handedness","education_category"], inplace = True)

### Baseline model

In [ ]:
master.target.value_counts()/len(X)

### Grid Search - optimizing the model

In [ ]:
#Parameters to tune

# Maximum number of levels in tree
max_depth = [5,10,15,20,25,30]
#Maximum number of features per tree
max_features = [15,20,25,30,50,100]

#Create the random grid

grid={
    #"n_estimators": n_estimators,
    "max_depth": max_depth,
    "max_features": max_features
}

print(grid)

In [ ]:
model = RandomForestClassifier()

grid_search = GridSearchCV(estimator = model,param_grid= grid,cv= 3,n_jobs=-1)

In [ ]:
#fit the grid data
grid_search.fit(X, y)

#calculate the best parameters
grid_search.best_params_

In [ ]:
forest = RandomForestClassifier(n_jobs=-1, max_depth = 5, max_features = 15)
cv_results = cross_validate(forest, X, y, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

# Random Forest Individual targets

## Data and preprocessing

In [ ]:
df = master.copy()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['sex'].replace('F','female',inplace=True)

In [ ]:
df['sex'].replace('M','male',inplace=True)

In [ ]:
df["sex_enc"] = df['sex'].replace('female',0)

In [ ]:
df["sex_enc"].replace("male",1,inplace=True)

In [ ]:
#Encoding Handedness
enc = OneHotEncoder(sparse = False)
enc.fit(df[["handedness"]])
hand_enc = enc.transform(df[["handedness"]])
df["right"],df["left"],df["ambidextrous"] = hand_enc.T

In [ ]:
#Encoding Education
enc = OneHotEncoder(sparse = False)
enc.fit(df[["education_category"]])
ed_enc = enc.transform(df[["education_category"]])
df["applied"],df["academic"],df["medium"],df["high"],df["low"] = ed_enc.T

In [ ]:
df

In [ ]:
X = df.drop(columns=["participant_id","NEO_N","NEO_E","NEO_O","NEO_A","NEO_O","NEO_C","target","gaussian_target","sex","handedness","education_category"])

In [ ]:
X

In [ ]:
# Discretizing target: 0 = lower, 1 = higher
y_disc = df.iloc[:,6:11]
y = []
for i in range(5):
    y.append(pd.cut(x= y_disc.iloc[:,i], 
                    bins= [y_disc.iloc[:,i].min()-1, y_disc.iloc[:,i].mean(), y_disc.iloc[:,i].max()+1], 
                    labels= [0, 1]))
y = pd.DataFrame(y[0:5]).T
y.head()

## y = NEO_N

In [ ]:
X

In [ ]:
y_n = y["NEO_N"]
y_n

In [ ]:
forest = RandomForestClassifier(n_estimators=100,n_jobs=-1)
cv_results = cross_validate(forest, X, y_n, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

## y = NEO_E

In [ ]:
X

In [ ]:
y_e = y["NEO_E"]
y_e

In [ ]:
forest = RandomForestClassifier(n_estimators=100,n_jobs=-1)
cv_results = cross_validate(forest, X, y_e, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

## y = NEO_O

In [ ]:
y_o = y["NEO_O"]
y_o

In [ ]:
forest = RandomForestClassifier(n_estimators=100,n_jobs=-1)
cv_results = cross_validate(forest, X, y_o, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

## y = NEO_A

In [ ]:
y_a = y["NEO_A"]
y_a

In [ ]:
forest = RandomForestClassifier(n_estimators=100,n_jobs=-1)
cv_results = cross_validate(forest, X, y_a, scoring = "accuracy", cv=3)
print(cv_results['test_score'])

## y = NEO_C

In [ ]:
y_c = y["NEO_C"]
y_c

In [ ]:
forest = RandomForestClassifier(n_estimators=100,n_jobs=-1)
cv_results = cross_validate(forest, X, y_c, scoring = "accuracy", cv=3)
print(cv_results['test_score'])